<style>
  .comment-card {
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
  }
</style>
<% if comment.commenter && comment.body %>
  <div class="comment-card">
    <h3><%= comment.commenter %></h3>
    <p><%= comment.body %></p>
    <p><%= comment.created_at&.strftime("%d/%m %I:%M%p") %></p>
  </div>
<% end %>
