<%= stylesheet_link_tag 'comments/comment' %>
<% if comment.body %>
  <div class="comment-card">
    <p><%= comment.author_name %></p>
    <p><%= comment.body %></p>
    <p><%= comment.created_at&.strftime("%d/%m %I:%M%p") %></p>
  </div>
<% end %>
