.task-container {
  background-color: #fff;
  position: relative;
  color: #fff;
  padding: 50px 10%;
}

.task-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  line-height: normal;
  margin-bottom: 20px;
}

.task-card {
  padding: 30px;
  cursor: pointer;
  line-height: 3rem;
  border-radius: 20px;
}

.delete-task-btn {
  width: 2rem;
  border-radius: 100%;
  cursor: pointer;
}

.delete-task-btn,
.edit-task-btn {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494947;
  background-color: #fff;
}

.edit-task-btn {
  padding: 0 30px;
  border-radius: 20px;
}

.comments-container {
  padding: 30px;
  color: #fff;
}

.comments {
  margin-top: 3rem;
}

.continer-fixed-btn {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.fixed-btn {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .comments-container {
    margin: 50px 10% 0;
    padding: 50px;
    border-radius: 20px;
  }

  .comments {
    margin-bottom: 0;
  }
}
