<style>
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eefcce;
    background-color: #9eb25d;
  }
</style>
<div class="layout">
  <div class="header">
    <h1>New task</h1>
    <%= link_to "X", root_path, class: "close-btn" %>
  </div>
  <%= render "form", task: @task %>
</div>
